@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}


.notification {
    max-width: calc(var(--size-300) * 43);
    overflow: hidden;
    padding: var(--size-400) calc(var(--size-600) * 2) var(--size-400) var(--size-400);
    z-index: 99;
    font-weight: var(--font-weight-400);
    position: relative;
    border-radius: var(--radius-400);
    color: var(--color-text-200);
    transition: var(--transition-400);
}

.notification.slideIn {
    animation-name: slideIn;
    animation-duration: 0.15s;
    animation-timing-function: ease;
}

.notification.slideOut {
    transform: translateX(150%);
    flex: 0;
}

.notification.notification__color-info {
    background-color: var(--color-bg-500);
}

.notification.notification__color-success {
    background-color: var(--color-success-400);
}

.notification.notification__color-error {
    background-color: var(--color-error-400);
}

.notification .closeButton {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.container {
    position: fixed;
    top: 16px;
    right: 16px;
    display: flex;
    gap: var(--size-200);
    flex-direction: column;
    z-index: 99;
}

.notificationContainer {
    overflow: hidden;
    max-height: calc(var(--size-300) * 20);
    transition: var(--transition-400);
}

.notificationContainer.shrink {
    max-height: 0;
}