.button {
    --default-border-size: 2px;

    cursor: pointer;
    flex-wrap: nowrap;
    display: inline-flex;
    gap: var(--size-300);
    border-radius: var(--radius-400);
    transition: var(--transition-400);
    width: fit-content;
}

.button__color-accent {
    background: var(--color-button-accent);
    color: var(--color-text-100);
}

.button__color-primary {
    --color: var(--color-text-100);
    --button-color: var(--color);
    --button-color-hover: var(--color);
    --button-background-hover: var(--color-button-accent);
    --border-color-hover: transparent;

    background: transparent;
    color: var(--color);
}

.button__type-primary {
    background: transparent;
    color: var(--color-text-900);
}

.button__type-primary:where(:hover,:focus-within){
    background: var(--color-button-accent);
    color: var(--color-text-200);
    border-color: transparent;
}


.button__type-solid {
    border: var(--default-border-size) solid;
    border-color: var(--color-button-primary);
}

.button__type-solid:where(:hover,:focus-within) {
    background: var(--button-background-hover);
    color: var(--button-color-hover);
    border-color: var(--border-color-hover);
}

.button__size-small {
    padding: var(--size-300) var(--size-600);
    font-size: var(--font-size-500);
    line-height: var(--font-size-600);
}

.button__size-middle {
    padding: var(--size-400) calc(var(--size-xl-400) - var(--size-600));
    font-size: var(--size-600);
    line-height: var(--font-size-600);
}

.button__size-large {
    padding: var(--size-700) var(--size-600);
    font-size: var(--font-size-700);
}

.button__size-extraSmall {
    padding: var(--size-300) var(--size-600);
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-300);
}

.button__color-glow {
    border-color: transparent;
    background: var(--color-button-glow);
    color: var(--color-text-200);
}

.button__color-glow:where(:hover,:focus-within) {
    background: var(--color-button-primary);
    color: var(--color-text-900);
}