.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--size-500);
    border: 2px solid transparent;
}

.item .item__label {
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-400);
    line-height: var(--font-size-600);
    color: var(--color-text-900);
}

.item .item__withIcon {
    gap: var(--size-300);
    display: flex;
    align-items: center;
}

.item__withError {
    border-color: var(--color-error-400);
}

.item__checked {
    border-color: var(--color-success-400);
}