html,body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--base-rem);
    background-color: var(--main-color);
}

@media screen and (min-width: 666px){
    :root{
        --base-rem: 13px;
    }
}

@media screen and (min-width: 1280px){
    :root{
        --base-rem: 16px;
    }
}

* {
    box-sizing: border-box;
}


