h1,h2,h3,p {
    margin: 0;
    color: var(--color-text-100);
}

h1 {
    margin-bottom: var(--size-400);
    line-height: var(--size-xl-600);
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-xl-900);
}

h2{
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-800);
    line-height: var(--font-size-900);
}

p {
    --font-size : calc(var(--font-size-500) - (var(--font-size-500) / 4));
    font-weight: var(--font-weight-400);
    font-size: calc(var(--font-size-500) - (var(--font-size-500) / 4));
    line-height: calc(var(--font-size) + (var(--font-size) / 5));
}

.text-color-800 {
    color: var(--color-text-800);
}

.text-error-400 {
    color: var(--color-error-400);
}

.text-color-900 {
    color: var(--color-text-900);
}

.text-weight-400 {
    font-weight: var(--font-weight-400);
}

.text-color-400 {
    color: var(--color-text-400);
}