:root {

    --base-rem: 10px;

    --font-size-400: 1rem;
    --font-size-500: 1.25rem; /* 20px default */
    --font-size-600: 1.5rem;
    --font-size-700: 1.875rem; /* 30px default */
    --font-size-800: 2.5rem;
    --font-size-900: 2.875rem;

    --font-size-xl-900: 6.25rem;

    /* font-weights */

    --font-weight-400: 400;
    --font-weight-700: bold;

    /* Sizes */
    --size-200: 0.5rem;
    --size-300: 0.625rem; /* 10px default */
    --size-400: 1rem;
    --size-500: 1.25rem; /* 20px default */
    --size-600: 1.5rem; /* 24px default */
    --size-700: 1.75rem; /* 28px default */
    --size-800: 2rem;
    --size-900: 2.5rem;

    --size-xl-300: 3.125rem;
    --size-xl-400: 5rem;
    --size-xl-500: 6.25rem;
    --size-xl-600: 7.5rem;

    /*colors*/

    --color-bg-200: rgba(237, 242, 247, 1);
    --color-bg-500: rgba(66, 153, 225, 1);
    --color-bg-800: rgba(45, 55, 72, 1);
    --color-bg-900: rgba(42, 67, 101, 1);

    --color-text-100: rgba(247, 250, 252, 1);
    --color-text-200: rgba(255, 252, 254, 1);
    --color-text-400: rgba(99, 179, 237, 1);
    --color-text-500: rgba(66, 153, 225, 1);
    --color-text-800: rgba(45, 55, 72, 1);
    --color-text-900: rgba(42, 67, 101, 1);

    --color-error-400: rgba(255,0,0,1);
    --color-success-400: rgba(30,192,30,1);

    --color-button-primary: rgba(247, 250, 252, 1);
    --color-button-accent: rgba(42, 67, 101, 1);

    --link-hover-color: var(--color-text-900);
    --main-color: rgba(247, 250, 252, 1);
    --color-white: #FFFFFF;

    /* default project transition */
    --transition-400: 0.3s ease;

    /* default border radius */
    --radius-400: 5px;



    /* resolutions */

    --sm: 666px;
    --mob: 320px
}