.header {
    padding: var(--size-500) calc(var(--size-800) + var(--size-200));
    gap: var(--size-xl-400);
    width: 100vw;
}

.header__color-transparent{
    background: var(--color-bg-500);
}

.header__color-primary{
    background: var(--color-bg-800);
}